<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


    <!-- Base Footprint para paquetes de navegacion -->
    <link name="base_footprint">
        <origin xyz="0 0 0" rpy="0 0 0"/>        
    </link>    
    
    <!-- Base Link del que se referencian el resto de elementos -->
    <link name ="base_link">
        <visual>
            <geometry>
                <mesh filename="file://$(find ow_peque_description)/meshes/PiezasNaranjas.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <origin xyz="0 0 ${base_to_ground_height}" rpy="${pi / 2.0} 0 ${-2.0 * pi / 3.0}"/>
            <material name="orange"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="file://$(find ow_peque_description)/meshes/ModeloColision.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <origin xyz="0 0 ${base_to_ground_height}" rpy="${pi / 2.0} 0 ${-2.0 * pi / 3.0}"/>
        </collision>
        <inertial>
            <mass value="5"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia ixx="0.0004055" ixy="0" ixz="0" iyy="0.0004055" iyz="0" izz="0"/>
        </inertial>
    </link>

    <!-- Piezas negras (visual separado para permitir diferente color) -->
    <joint name="base_to_black_parts" type="fixed">
        <parent link="base_link"/>
        <child link="black_parts_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="black_parts_link">
        <visual>
            <geometry>
                <mesh filename="file://$(find ow_peque_description)/meshes/PiezasNegras.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <origin xyz="0 0 ${base_to_ground_height}" rpy="${pi / 2.0} 0 ${-2.0 * pi / 3.0}"/>
            <material name="black"/>
        </visual>
    </link>

    <!-- Placas electrónicas -->
    <joint name="base_to_placas" type="fixed">
        <parent link="base_link"/>
        <child link="placas_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="placas_link">
        <visual>
            <geometry>
                <mesh filename="file://$(find ow_peque_description)/meshes/Placas.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <origin xyz="0 0 ${base_to_ground_height}" rpy="${pi / 2.0} 0 ${-2.0 * pi / 3.0}"/>
            <material name="green"/>
        </visual>
    </link>


    <!-- Ruedas omnidireccionales -->
    <xacro:include filename="$(find ow_peque_description)/urdf/omniwheel.xacro"/>
    <xacro:omniwheel parent_link="base_link" 
                     prefix="front" 
                     base_radius="${base_radius}"
                     z_offset="${ground_to_shaft_height}"
                     angle="${pi / 2.0}"/>
      
    <xacro:omniwheel parent_link="base_link"
                     prefix="left" 
                     base_radius="${base_radius}"
                     z_offset="${ground_to_shaft_height}"
                     angle="${pi + pi / 6.0}"/>

    <xacro:omniwheel parent_link="base_link"
                     prefix="right"
                     base_radius="${base_radius}"
                     z_offset="${ground_to_shaft_height}"
                     angle="${- pi / 6.0}"/>
    

    <!-- Joints -->
    <joint name="base_joint" type="fixed">
        <parent link="base_footprint"/>
        <child link="base_link"/>
        <origin xyz="0 0 ${omniwheel_radius}" rpy="0 0 0"/>
    </joint>


</robot>
