<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo reference="base_link">
        <visual>
            <material>
                <ambient>0.0 0.0 1.0 1.0</ambient>
                <diffuse>0.0 0.0 1.0 1.0</diffuse>
                <specular>0.1 0.1 0.1 1.0</specular>
            </material>
        </visual>
        <sensor name="imu_sensor" type="imu">
            <always_on>1</always_on>
            <update_rate>100</update_rate>
            <visualize>true</visualize>
            <topic>imu</topic>
        </sensor>
    </gazebo>

    <gazebo>
      <plugin filename="gz-sim-imu-system" name="gz::sim::systems::Imu">
      </plugin>
    </gazebo>

    <gazebo reference="bottom_cover_link">
        <visual>
            <material>
                <ambient>1.0 0.0 0.0 1.0</ambient>
                <diffuse>1.0 0.0 0.0 1.0</diffuse>
                <specular>0.1 0.1 0.1 1.0</specular>
            </material>
        </visual>
    </gazebo>

    <gazebo reference="top_cover_link">
        <visual>
            <material>
                <ambient>1.0 0.0 0.0 1.0</ambient>
                <diffuse>1.0 0.0 0.0 1.0</diffuse>
                <specular>0.1 0.1 0.1 1.0</specular>
            </material>
        </visual>
    </gazebo>

    <gazebo reference="right_wheel_link">
        <visual>
            <material>
                <ambient>0.5 0.5 0.5 1.0</ambient>
                <diffuse>0.5 0.5 0.5 1.0</diffuse>
                <specular>0.1 0.1 0.1 1.0</specular>
            </material>
        </visual>
        <mu1>${coef1}</mu1>
        <mu2>${coef2}</mu2>
        <fdir1>${cos(pi/6.0)} ${-sin(pi/6.0)} 0</fdir1>
    </gazebo>

    <gazebo reference="left_wheel_link">
        <visual>
            <material>
                <ambient>0.5 0.5 0.5 1.0</ambient>
                <diffuse>0.5 0.5 0.5 1.0</diffuse>
                <specular>0.1 0.1 0.1 1.0</specular>
            </material>
        </visual>
        <mu1>${coef1}</mu1>
        <mu2>${coef2}</mu2>
        <fdir1>${-cos(pi/6.0)} ${-sin(pi/6.0)} 0</fdir1>
    </gazebo>

    <gazebo reference="front_wheel_link">
        <visual>
            <material>
                <ambient>0.5 0.5 0.5 1.0</ambient>
                <diffuse>0.5 0.5 0.5 1.0</diffuse>
                <specular>0.1 0.1 0.1 1.0</specular>
            </material>
        </visual>
        <mu1>${coef1}</mu1>
        <mu2>${coef2}</mu2>
        <fdir1>0 1.0 0</fdir1>

    </gazebo>

</robot>