<?xml version="1.0"?>
<robot xmlns:xacro="https://www.ros.org/wiki/xacro">

  <xacro:if value="$(arg sim_mode)">
    <ros2_control name="GazeboSimSystem" type="system">
        <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>
        <joint name="base_left_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-5.0</param>
                <param name="max">5.0</param>
            </command_interface>

            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="base_front_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-5.0</param>
                <param name="max">5.0</param>
            </command_interface>

            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="base_right_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-5.0</param>
                <param name="max">5.0</param>
            </command_interface>

            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>

    <gazebo>
        <plugin name="gz_ros2_control::GazeboSimROS2ControlPlugin" filename="libgz_ros2_control-system.so">
            <ros>
                <namespace>/</namespace>
            </ros>
            <parameters>$(find ow_peque_description)/config/controllers.yaml</parameters>
            <parameters>$(find ow_peque_description)/config/gaz_ros2_ctl_use_sim.yaml</parameters>
        </plugin>
    </gazebo>
  </xacro:if>

  <xacro:unless value="$(arg sim_mode)">
    <ros2_control name="OmnidriveSystemHardware" type="system">
        <hardware>
            <plugin>ow_hardware/OmnidriveSystemHardware</plugin>
            <param name="front_wheel_cs_gpio">22</param>
            <param name="front_wheel_en_gpio">19</param>
            <param name="left_wheel_cs_gpio">27</param>
            <param name="left_wheel_en_gpio">24</param>
            <param name="right_wheel_cs_gpio">17</param>
            <param name="right_wheel_en_gpio">23</param>
            <param name="spi_device">/dev/spidev0.0</param>
            <param name="spi_speed_hz">4000000</param>
            <param name="accel_time">1.0</param>
            <!-- invertir sentido si una rueda gira al revés físicamente -->
            <param name="front_wheel_inverted">true</param>
            <param name="left_wheel_inverted">true</param>
            <param name="right_wheel_inverted">true</param>
        </hardware>

        <joint name="base_front_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-5.0</param>
                <param name="max">5.0</param>
            </command_interface>

            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="base_left_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-5.0</param>
                <param name="max">5.0</param>
            </command_interface>

            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="base_right_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-5.0</param>
                <param name="max">5.0</param>
            </command_interface>

            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>
  </xacro:unless>

</robot>
