<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
 
    <!--Parametros-->
    <xacro:property name="base_plate_height" value="0.004"/>
    <xacro:property name="corner_height" value="0.091"/>
    <xacro:property name="corner_shaft_height" value="0.04"/>
    <xacro:property name="omniwheel_radius" value="0.05"/>
    <xacro:property name="base_radius" value="0.22"/>

    <!-- Simulación -->
    <xacro:property name="coef1" value="0.5"/>
    <xacro:property name="coef2" value="0.5"/>



</robot>
